---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import PageLayout from "./PageLayout.astro";

type Props = CollectionEntry<"blog">["data"] & {
  wordCount?: number;
};

const { title, description, pubDate, updatedDate, heroImage, tags, wordCount } =
  Astro.props;
---

<PageLayout title={title} description={description}>
  <article>
    {
      heroImage && (
        <div class="hero-image">
          <img src={heroImage} alt="" />
        </div>
      )
    }
    <div class="title">
      <div class="date">
        {pubDate && <FormattedDate date={pubDate} />}
        {
          updatedDate && (
            <div style="font-style: italic">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <h1>{title}</h1>
      <hr />
    </div>
    <slot />
    <hr />
    <p>
      Word Count: {wordCount}
      <br />
      Tags: {tags?.join(", ")}
    </p>
  </article>
</PageLayout>
<style>
  .hero-image {
    width: 100%;
    max-height: 400px;
  }
  .hero-image img {
    height: 400px;
    max-height: 40vh;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .date {
    margin-bottom: 0.5em;
    color: var(--color-text-secondary);
  }
</style>
